<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoobies</title>
</head>
<body>
    <form action="/hobbies" method="POST">
          <input type="text" name="name" placeholder="Digite seu nome">
        <input type="text" name="hobby1" placeholder="Digite seu hobby">
        <input type="text" name="hobby2" placeholder="Digite seu hobby">
        <input type="text" name="hobby3" placeholder="Digite seu hobby">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>